<link rel="import" href="../polymer/polymer.html">

<!--
`card-main`


@demo demo/index.html
-->

<dom-module id="card-main">
  <template>
    <style>
      :host {
        display: block;
      }
      .card-main-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
      } 
      .card-main-button {
        border: none;
        padding: 1rem 2.5rem;
        background: #30fdb3;
        font-size: 20px;
        width: 253px;
        height: 56px;
        color: white;
        font-weight: bold;
        margin-top: 61px;
      }
      .card-main-title {
        font-size: 28px;
        color: white;
        font-weight: bold;
        margin-bottom: 17px;
      }         
      .card-main-subtitle {
        color: white;
        font-size: 18px;
      }
      .card-main-image {
        width: 100%;
        height: 100%;
      }
      .card-main-image-wrapper {
        width: 327px;
      }
      .card-main-description {
        padding: 90px;
        margin-top: -7px;
        background-color: #0173f8;
      }
      .card-main-header-actions {
        color: #677089;
        text-align: right;
        font-size: 1rem;
      }
      .cursor-pointer {
        cursor: pointer;
      }
      .block {
        display: block;
        text-align: center;
      }
      .highligth .card-main-description {
        background-color: transparent;
      }
      .highligth .card-main-title, .highligth .card-main-subtitle{
        color: #677089;
      }
    </style>
    <div class="card-main-header">
      <div class="card-main-header-actions cursor-pointer">
          <span class="card-main-header-button" data-args$="[[view.headerEvent]]">[[view.headerAction]]</span>
          <span clas="card-main-icon" hidden="[[!view.withIcon]]"><img src="[[view.icon]]" alt=""></span>
      </div>
    </div>
    <div class$="[[view.css]] card-main-info">
      <div class="card-main-image-wrapper">
        <img src="[[view.imageSrc]]" class="card-main-image" alt="">
      </div>
      <div class="card-main-description">
        <span class="card-main-title block">[[view.title]]</span>
        <spab class="card-main-subtitle block">[[view.subtitle]]</spab>
      </div>
      <div class="card-main-actions" hidden="[[!view.button]]">
        <button on-tap="_dispatchEvent" data-args$="[[view.eventName]]" class="card-main-button cursor-pointer">[[view.button]]</button>
      </div>
    </div>
  </template>

  <script>
    Polymer({

      is: 'card-main',

      properties: {
        view: {
          type: Object,
          value: {},
        }
      },
      _dispatchEvent: function(e) {
        if(e && e.currentTarget) {
          var args = e.currentTarget.getAttribute('data-args') || {};
          this.fire(args);
        }
      }
    });
  </script>
</dom-module>
